html {
  background-color: #b3b3b3;
}

#div1 {
  height: 600px;
  display: flex;
  margin: 5% 10% 5% 10%;
  border-radius: 50px 50px 50px 50px;
}

#div2 {
  background: white;
  border-radius: 0 50px 50px 0;
  width: 60%;
}

#div3 {
  margin: 0 0 0 40px;
  border-radius: inherit;
}

#brand {
  margin-top: 20px;
  font: 35px Roboto-Mono;
  font-weight: 600;
}

p {
  font-size: 30px;
}

form {
}
img {
  border-radius: 50px 0 0 50px;
  height: 100%;
  width: 40%;
}
